/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.landingPageContainer {
    width: 100vw;
    height: 100vh;
    background : url(/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.landingPageContainer nav{
    padding-inline: 1.2rem;
    padding-block: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.landingPageContainer nav h2{
    font-size: 1.8rem;
    font-weight: 500;
}
.landingPageContainer nav .navList{
    display: flex;
    gap: 2rem;
    cursor: pointer;
}
.landingMainContainer{
  display : flex;
  justify-content: space-between;
  padding-inline: 3rem;
  align-items: center;
  height: 80vh;
}
.landingMainContainer > div:nth-child(1){
  font-size: 2.2rem;
    
}
.landingMainContainer > div:nth-child(2) img{
    height:70vh;
    width: auto;
}
.landingMainContainer > div:nth-child(1) div[role='button'] {
  background: #D97500;
  width: fit-content;
  padding : 1rem;
  border-radius: 20px;
  margin-top: 2rem;
}
.landingMainContainer > div:nth-child(1) div[role='button'] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;

}
/* .navBar {
    width: 100vw;
    height: 60px;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #7e7777;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}*/
.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  background-color: #8c9fff;
  text-align: center;
}
.meetContainer{
    display: flex;
    padding-inline: 20px;
    height :80vh;
    gap: 10vw;
    justify-content: center ;
}
.leftPanel{
    display: flex;
    height: 100%;
    align-items: center;
    
}
.rightPanel{
  display: flex;
  align-items: center;
}
.rightPanel img{
  height: 70vh;
  width: auto;
}
.leftPanel h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}